<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css" type="text/css">
</head>

<body>
    <header>
        <div class="header-container">
            <h1>Rubrik</h1>
            <nav>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Startsidan</a></li>
                    <li><a asp-controller="Home" asp-action="Todos">Att göra-lista</a></li>
                    <li><a asp-controller="Home" asp-action="AddTodo">Lägg till</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>

    </footer>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>

</body>

</html>