@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Krävs för att CSS och taghelpers ska fungera
    ViewData["Title"] = "Att göra"; //Titel
}

<h2>Att göra-lista</h2>
<section>
    <h3>Titel</h3>
    <p>Beskrivning</p>
    <p>Status</p>
</section>